body, html {
    margin: .5rem;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color:#f0f6fc;
}

label {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

input {
    padding: .5rem;
    /* margin: 10px 0; */
    margin-bottom: 0.5rem;

    border-radius: .5rem;
    border: 1px solid #3d444d;
    background-color: #151b23;
}

h1 {
    align-self: center;
    margin: 0;
}

h2 {
    margin-top: .25rem;
    margin-bottom: .25rem;
    border-bottom: 0.125rem solid #3d444d;
}

form {
    padding: 1rem;
    border-radius: .5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 0.05rem solid #3d444d;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    margin-top: .5rem;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: .5rem;
}